*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  transition: all 0.5s ease
}


/**************BroCoders**************| Root Element Styles |**************Team**************/
:root{
  --mc1:#4D1D85;
  --mc2:#d35400;
  --overlay: rgba(78, 29, 133, 0.9);
  --nav: rgba(17, 0, 37, 0.9);
}

/**************BroCoders**************| Selection Style |**************Team**************/
::selection{
  background: var(--mc2);
  color: #fff
}


/**************BroCoders**************| Loader Styles |**************Team**************/
.loader{
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #fff;
  z-index: 1031;
}
.loader .cont{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%)
}
.loader .cont p{
  text-align: center;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: bold;
  color: #4D1D85;
  text-shadow: 3px 3px 5px rgba(0,0,0,.5)
}

@media (max-width: 576px){
  .loader .cont p{
    font-size: 25px;
  }
}

.loader .cont div{
  width: 700px;
  height: 25px;
  border: 4px solid #4D1D85;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  box-shadow: 1px 1px 6px rgba(0,0,0,.5);
}

@media (max-width: 576px){
  .loader .cont div{
    width: 300px;
  }
}

.loader .cont div span{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(78, 29, 133, 0.5);
  box-shadow: 1px 1px 6px rgba(0,0,0,.5);
  animation: loaderSpan 3.5s ease-in forwards
}
@keyframes loaderSpan{
  100%{
    width: 100%;
  }
}

/**************BroCoders**************| Colors Settings Styles |**************Team**************/
.settings{
  position: fixed;
  z-index: 2;
  top: 30%;
  display: flex;
  box-shadow: 1px 1px 6px rgba(0,0,0,.5);
}
@media (max-width: 576px){
  .settings{
    top: 90%;
  }
}
.settings button{
  background: var(--mc1);
  border: 1px solid rgb(182, 182, 182);
  border-left: none;
  outline: none;
  padding: 5px 10px;
  font-size: 30px;
  color: #FFF;
  cursor: pointer;
  margin-left: -4px;
  height: 65px;
}
.settings button i{
  animation: rotating 2.5s linear infinite;
}
@keyframes rotating{
  100%{
    transform: rotate(360deg)
  }
}

.settings .colors{
  background: var(--overlay);
  padding: 13px 10px;
  display: inline-block;
  border: 1px solid rgb(182, 182, 182);
  border-left: none;
  border-right: none;
}
.settings .colors.closed{
  margin-left: -170px
}
.settings .colors span{
  display: inline-block;
  width: 35px;
  height: 100%;
  background: #1F1D22;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(0,0,0,.7);
}
.settings .colors span:first-of-type{
  background: #4D1D85;
}
.settings .colors span:first-of-type:hover{
  background: #d35400;
}
.settings .colors span:nth-of-type(2){
  background: #c0392b;
}
.settings .colors span:nth-of-type(2):hover{
  background: #1BEFC5;
}
.settings .colors span:nth-of-type(3){
  background: #000;
}
.settings .colors span:nth-of-type(3):hover{
  background: #1995AD;
}
.settings .colors span:last-of-type{
  background: #44bd32;
}
.settings .colors span:last-of-type:hover{
  background: #505160;
}

/**************BroCoders**************| Header - Nav Styles |**************Team**************/
header{
  background: url(../images/header.jpg) fixed no-repeat;
  background-size: cover;
  color: #fff;
  height: 100vh;
}

header .overlay{
  background: var(--overlay);
  width: 100%;
  height: 100vh;
}

header .navCont{
  padding: 15px 0
}

header .navbar{
  padding: 25px 30px;
}
@media (max-width: 576px){
  header .navbar{
    padding: 10px 30px
  }
}

@media (max-width: 576px){
  header .navbar{
    background: var(--nav)!important;
  }
}

header nav .navbar-brand{
  font-size: 24px;
  font-weight: 600;
  color: #FFFF;
}
header nav .navbar-brand span{
  color: var(--mc2);
}

header nav .navbar-toggler{
  outline: none
}

header nav .navbar-toggler i{
  color: #fff;
}

header nav .nav-item.margin{
  margin-right: 180px
}
@media (max-width: 1200px){
  header nav .nav-item.margin{
    margin-right: 100px
  }
}

header nav .navbar-nav .nav-item.active .nav-link{
  color: var(--mc2)
}

header nav .navbar-nav .nav-link{
  font-weight: 600;
  color: #FFF;
  padding-right: 25px!important
}


header nav .navbar-nav .nav-link.custom{
  padding-right: 15px!important;
}

header nav .navbar-nav .nav-link:hover{
  color: var(--mc2);
}

header nav .divider{
  padding: 7px 0 0;
  font-size: 18px
}

/**************BroCoders**************| Header - Header Styles |**************Team**************/
header .header{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center
}
@media (max-width: 576px){
  header .header{
    top: 60%;
  }
}

header .header h1{    
  font-size: 60px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 1.2;
}


@media (max-width: 576px){
  header .header h1{    
    font-size: 30px;
  }
}


header .header p{
  max-width: 750px;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 2.14;
  margin-left: auto;
  margin-right: auto;
  margin-top: 9px;
}

@media (max-width: 576px){
  header .header p{
    line-height: 2;
    margin-top: 30px;
  }
}

header .header div{
  margin-top: 80px
}

header .header div input{
  padding: 10px 15px;
  width: 45%;
  height: 60px;
  border: none;
  outline: none;
  background: #FFFFFF;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 30px;
  font-size: 24px;
  font-weight: 500;
  color: #1f1d22;
  box-shadow: 1px 1px 10px rgba(0,0,0,.7);
}
header .header div input::placeholder{
  color: #1f1d22;
}

@media (max-width: 576px){
  header .header div input {
    padding: 10px 0px;
    width: 70%;
    height: 55px;
    padding-left: 10px;
    font-size: 18px;
  }
}

header .header div select{
  width: 140px;
  margin-left: -4px;
  padding: 10px 15px;
  height: 60px;
  border: none;
  outline: none;
  background: var(--mc1);
  box-shadow: 1px 1px 10px rgba(0,0,0,.7);
  color: #FFF;
  font-size: 24px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}
@media (max-width: 576px){
  header .header div select {
    width: 90px;
    padding: 10px;
    height: 55px;
    font-size: 18px;
  }
}

header .header div button{
  margin-left: -4px;
  padding: 10px 30px;
  height: 60px;
  border: none;
  outline: none;
  background: var(--mc2);
  font-size: 24px;
  cursor: pointer;
  border-radius: 15px;
  margin-left: 20px;
  color: #fff;
  font-weight: bold;
  box-shadow: 1px 1px 10px rgba(0,0,0,.7);
}
header .header div button:hover{
  background: #000;
}

@media (max-width: 576px){
  header .header div button{
    margin-top: 25px;
    margin-left: 0px;
    padding: 8px 50px;
    height: 50px;
    font-size: 18px;
  }
}

/**************BroCoders**************| HowTo Section Styles |**************Team**************/

.howTo{
  padding: 100px 0;
  text-align: center
}
.howTo h1{
  margin-bottom: 60px;
  font-weight: 900;
  font-size: 36px
}

.howTo .part .img{
  padding: 25px;
  background: rgba(213, 223, 227, 0.2);
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin: 20px auto 40px
}
@media (max-width: 992px){
  .howTo .part .img{
    margin: 20px auto 25px
  }
}

.howTo .part .img div{
  background: rgba(213, 223, 227,1);
  border-radius: 50%;
  padding: 35px;
  width: 100%;
  height: 100%;
}

.howTo .part img{
  width: 60px;
  height: 60px;
}

.howTo .part:nth-of-type(2) .img{
  background: #eaeaea;
}
.howTo .part:nth-of-type(2) .img div{
  background: var(--mc2);
}

.howTo .part h4{
  font-size: 24px;
  font-weight: 700;
  color: #1f1d22;
  line-height: 1.2;
  margin-bottom: 20px;
}
.howTo .part p{
  font-size: 15px;
  line-height: 1.8666;
  font-weight: 400;
  color: #656566;
  text-shadow: 0 0 1px rgba(0,0,0,.01);
}

@media (max-width: 992px){
  .howTo .part p{
    margin-bottom: 50px;
  }
}

.howTo .part:last-of-type button{
  margin-top: 50px;
  padding: 17px 50px;
  border: none;
  outline: none;
  background: var(--mc2);
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold
} 
.howTo .part:last-of-type button:hover{
  background: var(--mc1);
}


/**************BroCoders**************| Services Section Styles |**************Team**************/

.services{
  background: url('../images/sec2.jpg') fixed no-repeat;
  background-size: cover;
  text-align: center
}
.services .overlay{
  background: var(--overlay);
  padding: 120px 0;
}

.services h1{
  color: #FFF;
  margin-bottom: 60px;
  font-weight: 900;
  font-size: 36px
}

.services .spart{    
  width: 100%;
  background: #FFFFFF;
  border-radius: 12px;
  padding-top: 50px;
  padding-bottom: 66px;
  padding-left: 30px;
  padding-right: 30px;
  border: solid 2px transparent;
}
@media (max-width: 992px){
  .services .spart{
    margin-bottom: 50px;
  }
}

.services .spart:hover{
  border-color: var(--mc2);
}
.services .spart:hover svg{
  color: var(--mc2);
}

.services .part svg{
  width: 80px;
  height: 80px;
  margin: 20px auto 40px
}

.services .spart h4{
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  line-height: 1.2;
  font-weight: 700;
  color: #1f1d22;
}

.services .spart p{
  font-size: 15px;
  line-height: 1.8666;
  font-weight: 400;
  color: #656566;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  margin: 25px 0 30px;
}

.services .spart button{
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #656566;
  line-height: 63px;
  background: #f4f7f8;
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 0px 30px;
  cursor: pointer;
  margin-bottom: -90px;
  margin-right: auto;
  margin-left: auto;
}

.services .spart button:hover{
  background: var(--mc2);
  color: #fff
}

  /***************BroCoders**************| packs styles |**************Team***************/
.packs{
  background-color: #fff;
  padding: 130px 60px;
  
}

@media(max-width:992px){
  .packs{
      padding: 80px 45px !important   
  }    
}
@media(max-width:576px){
  .packs{
      padding: 80px 30px !important    
  }    
}

.packs .container .price {
  padding: 0px;
  border: 1px solid #ccc;
  text-align: center;
  overflow: hidden
}

@media(max-width:990px){
  .packs .container .price {
      border-radius: 20px
  }
}
@media(max-width:574px){
  .packs .container .price:not(:first-of-type){
      margin-top: 30px     
  }   
}

.packs .container .price:last-of-type{
  border-top-right-radius: 20px
}
.packs .container .price:first-of-type{
  border-top-left-radius: 20px
}
.packs .container .price h1{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color:var(--mc1);
  padding: 40px 30px;
  border-top: 1px solid #ccc;
}
.packs .container .price h1:hover{
  color: var(--mc2)
}
.packs .container .price:last-of-type h1{
  border-right: 1px solid #ccc;
}
.packs .container .price:first-of-type h1{
  border-left: 1px solid #ccc;
}
.packs .container .price p{
  padding: 30px 0px;
  font-size: 36px;
  font-weight: 700;
  color:var(--mc1)
}
.packs .container .price p span{
  font-size: 17px;
  font-weight: 600;
  color: #1f1d22
}
.packs .container .price span:not(:first-child){
  display: block;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #1F1D22
}
.packs .container .price span i{
  color: var(--mc2);
  margin-right: 10px;
  font-size: 22px;
  display: inline-block
}
.packs .container .price button{
  display: block;
  margin: 25px auto;
  padding: 15px 26px;
  border-radius: 15px;
  background-color: var(--mc2);
  border:none;
  color: #111;
  font-weight: 900;
  font-size: 17px;
  cursor:pointer;
  outline: none
}
.packs .container .price button:hover{
  background-color: var(--mc1);
  color: #fff
}


/***************BroCoders**************| about-us styles |**************Team***************/

.about-us{
  background-color: #F6F8FB
}
.about-us .container .us1{
  margin-top: -25px;
}

@media(max-width:990px){
  .about-us .container .us1{
      display: none
  }    
}

.about-us .container .us{
    padding: 90px 20px
}

@media(max-width:990px){
  .about-us .container .us{
    text-align: center
  } 
}

@media(max-width:350px){
  .about-us .container .us h1{
    font-size: 36px;
    font-weight: 800
  }   
}


.about-us .container .us p{
  padding: 40px 0px 20px;
  color:#656565;
  font-size: 15px
}
.about-us .container .us div {
  overflow: hidden;
  width:100%
}
.about-us .container .us div div{
  display: block;
  float:left;
  width: 21%;
  margin-left: 4%;
  text-align: center
}
.about-us .container .us div div p{
  padding: 5px 0px;
  font-weight: bold;
  color:#656565;
  font-size: 16px
}
.about-us .container .us div div img{
  width:65%;
  height: 100px
}


          /***************BroCoders**************| build styles |**************Team***************/

.build {
  padding: 44px 25px 20px 25px;
  background-color: var(--overlay);
  margin-top: -20px;
}

@media(max-width:990px){
  .build{
    text-align: center
  }    
  .build .container button{
    margin: 0 auto
  }    
}

.build .container h1{
  font-size: 36px;
  font-weight: 700;
  color: #fff
}

@media(max-width:768px){
  .build .container h1{
    font-size: 25px;
  }
}

@media(max-width:450px){
  .build .container h1{
    font-size: 20px;
  }
}

.build .container p{
  font-size: 36px;
  font-weight: 700;
  color:var(--mc2)
}

@media(max-width:768px){
  .build .container p{
    font-size: 30px;
  }
}

@media(max-width:450px){
  .build .container p{
    font-size: 25px;
  }
}

.build .container p span{
  font-size: 17px;
  font-weight: 600;
  color:var(--mc2) 
}

@media(max-width:768px){
  .build .container p span{
    font-size: 15px;
  }
}

@media(max-width:450px){
  .build .container p span{
    font-size: 15px;
  }
}

.build .container button{
  display: block;
  padding: 18px 32px;
  border-radius: 15px;
  background-color: var(--mc2);
  border:none;
  color: #111;
  font-weight: 900;
  font-size: 17px;
  cursor:pointer;
  outline: none
}
.build .container button:hover{
  background-color: var(--mc1);
  color: #fff
}


        /***************BroCoders**************| footer styles |**************Team***************/

footer{
  padding: 75px 10px;
  background-color: var(--mc1);
}
footer .container .HostSpace h1{
  font-weight: 600;
  font-size: 47px;
  color: #fff
}
footer .container .HostSpace h1 span{
  color: var(--mc2)
}
footer .container .HostSpace p:first-of-type{
  font-size: 11px;
  color: #fff;
}
footer .container .HostSpace p:first-of-type span{
  color: var(--mc2)
}
footer .container .HostSpace p:nth-of-type(2){
  color:#fff;
  font-size: 15px;
  margin-top: 33px
}
footer .container .HostSpace .form form{
  margin-top: 45px
}
footer .container .HostSpace .form form input{
  padding: 15px 25px;
  background-color: var(--mc2);
  width: 48.5%;
  border: none;
  outline: none;
  box-shadow: 1px 1px 6px rgba(0,0,0,.5);
  border-radius: 5px;
}
@media(max-width:768px){
  footer .container .HostSpace .form form input{
      width: 100%;
      margin-top: 20px;
      background-color: var(--mc2);
  } 
}
@media(max-width:1200px){
  footer .container .HostSpace .form form input{
      width: 100%;
      margin-top: 20px;
  } 
  }
  footer .container .HostSpace .form form ::placeholder{
      font-size: 14px;
      color: #fff
  }
  footer .container .HostSpace .form form input[type="email"]{
      margin-left: 10px
  }
  @media(max-width:1200px){
      footer .container .HostSpace .form form input[type="email"]{
          margin-left: 0px !important
  }
  }
  @media(max-width:768px){
      footer .container .HostSpace .form form input[type="email"]{
          margin-left: 0px !important
  }
}

footer .container .HostSpace .form form textarea{
  background-color: var(--mc2);
  width:100%;
  height: 30%;
  box-shadow: 1px 1px 6px rgba(0,0,0,.5);
  border-radius: 5px;
  margin-top: 15px;
  border:none;
  outline: none;
  padding: 12px 25px;
  color: #fff
}
footer .container .HostSpace .form form input[type="submit"]{
  padding: 12px 25px;
  width: 25%;
  border-radius: 8px;
  background-color: var(--mc2);
  border:none;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 15px;
  outline: none
}
footer .container .HostSpace .form form input[type="submit"]:hover{
  transform: translateY(5px);
  background-color: #fff;
  color: var(--mc2);
}

@media(max-width:1200px){
  footer .container .HostSpace .form form input[type="submit"]{
      width: 100% !important;
      margin-bottom: 30px;
      margin-top: 20px !important
  }
}
@media(max-width:768px){
  footer .container .HostSpace .form form input[type="submit"]{
      width: 100% !important;
      margin-bottom: 30px;
      margin-top: 20px !important
  }
}
@media(max-width:574px){
  footer .container .Options{
      text-align: center    
  }
  footer .container .Options h2{
      font-size: 31px !important    
  }
  footer .container .Options h2:first-of-type{
      margin-top: 15px !important    
  }    
  footer .container .Options h2.heading1{
      margin-bottom: 25px       
      }    
  footer .container .Options h2.head{
      margin-top: 35px;
      margin-bottom: 25px
  }    
  footer .container .Options h2.heading2{
      margin-top: 35px !important;
      margin-bottom: 25px
  }    
  footer .container .Options span{
      font-size: 18px !important    
  }    
}

footer .container .Options h2{
    font-weight:700;
    font-size: 20px;
    color: var(--mc2);
    margin-bottom: 37px
}
footer .container .Options h2.heading1{
    margin-top: 48px
}
footer .container .Options h2.heading2{
    margin-top: 88px

}
footer .container .Options span{
    display: block;
    color: #fff;
    font-size: 15px;
    margin-top: 15px
}
footer .container .Options span:hover{
    color: var(--mc2);
    cursor: pointer
}



/**************BroCoders**************| Header - Header Styles For Other Pages |**************Team**************/
header.otherPages{
  background: url(../images/header.jpg) fixed no-repeat;
  background-size: cover;
  color: #fff;
  height: 60vh;
  overflow: hidden;
}

header.otherPages .overlay{
  background: var(--overlay);
  width: 100%;
  height: 100%;
}
header.otherPages .header{
  position: relative;
  top: 60%;
  transform: translateY(-50%);
  text-align: left;
  padding-left: 85px;
}
@media (max-width: 992px){
  header.otherPages .header{
    padding-left: 40px;
  }
}

header.otherPages .header h1{    
  font-size: 50px;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 1.2;
}


@media (max-width: 576px){
  header.otherPages .header h1{    
    font-size: 30px;
  }
}


header.otherPages .header p{
  max-width: 750px;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 2.14;
  margin-left: 0;
  margin-right: 0;
  margin-top: 9px;
  font-weight: bold
}

@media (max-width: 576px){
  header.otherPages .header p{
    line-height: 2;
    margin-top: 30px;
  }
}

header.otherPages .header p a{
  color: #fff;
  text-decoration: none;
}
header.otherPages .header a:hover{
  color: var(--mc2);
}

header.otherPages .header p span{
  color: var(--mc2);
}


.single{
  background: var(--nav);
  padding: 50px;
  text-align: center
}

@media (max-width: 576px){
  .single{
    padding: 50px 0;
  }
}

.single input{
  padding: 10px 15px;
  width: 45%;
  height: 60px;
  border: none;
  outline: none;
  background: #FFFFFF;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding-left: 30px;
  font-size: 24px;
  font-weight: 500;
  color: #1f1d22;
  box-shadow: 1px 1px 10px rgba(0,0,0,.7);
}
.single input::placeholder{
  color: #1f1d22;
}

@media (max-width: 576px){
  .single input {
    padding: 10px 0px;
    width: 70%;
    height: 55px;
    padding-left: 10px;
    font-size: 18px;
  }
}

.single select{
  width: 140px;
  margin-left: -4px;
  padding: 10px 15px;
  height: 60px;
  border: none;
  outline: none;
  background: var(--mc1);
  box-shadow: 1px 1px 10px rgba(0,0,0,.7);
  color: #FFF;
  font-size: 24px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}
@media (max-width: 576px){
  .single select {
    width: 80px;
    padding: 10px;
    height: 55px;
    font-size: 18px;
  }
}

.single button{
  margin-left: -4px;
  padding: 10px 30px;
  height: 60px;
  border: none;
  outline: none;
  background: var(--mc2);
  font-size: 24px;
  cursor: pointer;
  border-radius: 15px;
  margin-left: 20px;
  color: #fff;
  font-weight: bold;
  box-shadow: 1px 1px 10px rgba(0,0,0,.7);
}
.single button:hover{
  background: #000;
}

@media (max-width: 576px){
  .single button{
    margin-top: 25px;
    margin-left: 0px;
    padding: 8px 50px;
    height: 50px;
    font-size: 18px;
  }
}

/**************BroCoders**************| END Header - Header Styles For Other Pages |**************Team**************/



/**************************************| About Us Page |****************************************/

        /***************BroCoders**************| choose styles |**************Team***************/
  .choose{
    padding: 85px 15px;
}         
  .choose .container .choose1 h1{
    font-size: 36px;
    font-weight: 700;
    color: #1f1d22;
    margin-bottom: 40px
  }
  .choose .container .choose1 p{
    color:#656565;
    font-size: 15px
  }
  .choose .container .choose1 div{
    margin-top: 40px
  }
  .choose .container .choose1 span{
    display:inline-block;
    height: 17px;
    width: 17px;
    background-color: #753DC6 ;
    margin-right: 7px;
    border-radius: 50%;
    border: 5px solid #1BEFC5
  }
  .choose .container .choose2 img{
    display:block;
    height: 100%;
    width: 100%;

  }

        /***************BroCoders**************| video styles |**************Team***************/
  .video{
    width: 100%;
    height: 700px;
    text-align: center;
    background: url(../images/laptop.jpg) fixed no-repeat;
    background-size:100% 100%;
  }
  .video .overlay{
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,.3);
    padding: 220px 0
  }
  .video .overlay div{
    height: 140px;
    width: 140px;
    background-color: var(--mc2);
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
  }  
  .video .overlay div span{
    display: inline-block;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid var(--mc1);
    position: relative;
    top: 50%;
    left: 13%;
    transform: translate(-50%,-50%);
    cursor: pointer;
  }
  .video .overlay div:hover{
    cursor: pointer;
  }
  .video .overlay div:hover span{
    border-left: 30px solid #fff;

  }   
  .video .overlay h1{
    color: #fff;;
    margin-top: 30px;
    
  }
      /***************BroCoders**************| choose styles |**************Team***************/
  .team {
    text-align: center;
    padding: 50px 0 60px
  }
  .team .container h1{
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 35px
  }   
  .team .container p{
    font-size: 15px;
    color:#656565;
    padding-bottom: 50px
  }
  .team .row div .overlay{
    background-color: rgba(0,0,0,.2)
  }   
  .team .row div .team1{
    background-image: url(../images/team_1.jpg);
    background-size: cover;
    height: 350px;
    padding: 0px;
  }
  .team .row div .team2{
    background-image: url(../images/team_2.jpg);
    background-size: cover;
    height: 350px;
    padding: 0px;
  }
  .team .row div .team3{
    background-image: url(../images/team_3.jpg);
    background-size: cover;
    height: 350px;
    padding: 0px;
  }
  .team .row div .team4{
    background-image: url(../images/team_4.jpg);
    background-size: cover;
    height: 350px;
    padding: 0px;
  }
  
  .team .container .row div p{
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 41px;
    padding-bottom: 0!important
  }    
  .team .container .row div span{
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: 20px;
    left: 41px
  }
 
@media (max-width: 576px){
  .team .container .row div p{
    bottom: 40px;
  }    
  .team .container .row div span{
    bottom: 40px;
  }
}

    /**************BroCoders**************| start present Styles |**************Team**************/


  .present{
    padding: 40px 40px 90px;
  }
  @media(max-width: 576px){
    .present{
      padding: 0 0 20px;
    }
  }
  .present .container div{
    overflow: hidden;
  }  
  .present .container .img {
    float:left; 
  }
  .present .container .img img{
    display: inline-block;
    width: 120px;
    height: 150px;
    margin-left: -25px;
    margin-right: 5px
  }
  .present .container h2{
    display: inline-block;
    font-size: 24px;
    font-weight: 600;
    color:#fff;
    margin-top: 25px;
    margin-bottom: 20px 
  }
  .present .container h2 span{
    font-size: 36px;
    font-weight: 600;
    color: var(--mc2)
  }
  .present .container p{
    display: inline-block;
    font-size: 14px;
    color:#fff;
    line-height: 20px;
    width: 88%
  }
  .present .container .days div{
    padding: 15px 0;
    background-color: var(--mc1);
    margin-bottom: 25px;
  }
  .present .container .protect div{
    padding: 15px 0;
    background-color: var(--mc1);
    margin-bottom: 25px
  }
  
/**************************************| End About Us Page |****************************************/



/**************************************| Start Contact Us Page |****************************************/


 /**************BroCoders**************| start contact Styles |**************Team**************/
.contact{
  padding: 60px 10px
}
.contact .container .info{
  margin-bottom: 50px
}
.contact .container .info h1:first-of-type{    
  font-size: 36px;
  font-weight: 600;
  color: #1f1d22;
  padding-bottom: 20px;
}
.contact .container .info p{
  font-size: 15px;
  color: #656565;
  padding-bottom: 20px
}
.contact .container .info h1:nth-of-type(2){
  font-size: 36px;
  font-weight: 600;
  color: var(--mc2);
  padding-bottom: 10px
}
.contact .container .info h1 span{
  color: var(--mc1);
  display: inline;
}
.contact .container .info span{
  display: block;
  margin-top: 20px;
}
.contact .container .info .social{
  margin-top: 20px
}
.contact .container .info div i{
  font-size: 15px;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 10px;
  cursor: pointer;
}
.contact .container .info div i:hover{
  color: var(--mc1);
  transform: scale(1.1)
}
.contact .container .touch h1{
  font-size: 36px;
  font-weight: 600;
  color: #1f1d22;
  padding-bottom: 20px
}
.contact .container .touch form input{
  width: 100%;
  padding: 15px;
  background-color: #f1f6f8;
  margin-bottom: 7px;
  border:none;
  outline: none
}
.contact .container .touch form textarea{
  width: 100%;
  padding: 15px;
  background-color: #F1F6F8;
  border:none;
  outline: none
}
.contact .container .touch form ::placeholder{
  font-size: 14px;
  color:#a5a5a5;
}
.contact .container .touch form button{
  padding: 15px 25px;
  width: 120px;
  border-radius: 8px;
  background-color: var(--mc1);
  border:none;
  color: #fff;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 15px;
  outline: none
}
.contact .container .touch form button:hover{
  transform: translateY(5px);
  background-color:var(--mc2);
  cursor: pointer
}
    /**************BroCoders**************| map Section Styles |**************Team**************/
.map{
  padding: 0px 0 90px
}
.map .overlay{
  background-color: rgba(0,0,0,.3);
  height: 400px;
  width: 1150px
}
.map iframe{
  height: 400px;
  width: 100%
}

/**************************************| End Contact Us Page |****************************************/




/**************************************| Start Services Page |****************************************/

/**************BroCoders**************| Services Section Styles |**************Team**************/

.services-page{
  background: #fff;
  text-align: center;
  padding: 100px 0;
}

.services-page h1{
  color: #000;
  margin-bottom: 80px;
  font-weight: 900;
  font-size: 36px
}

.services-page .spart{    
  width: 100%;
  background: #f4f7f8;
  border-radius: 12px;
  padding-top: 50px;
  padding-bottom: 66px;
  padding-left: 30px;
  padding-right: 30px;
  border: solid 2px transparent;
  margin-bottom: 80px;
}
@media (max-width: 992px){
  .services-page .spart{
    margin-bottom: 50px;
  }
}

.services-page .spart:hover{
  border-color: var(--mc2);
}
.services-page .spart:hover svg{
  color: var(--mc2);
}

.services-page .part svg{
  width: 80px;
  height: 80px;
  margin: 20px auto 40px
}

.services-page .spart h4{
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  line-height: 1.2;
  font-weight: 700;
  color: #1f1d22;
}

.services-page .spart p{
  font-size: 15px;
  line-height: 1.8666;
  font-weight: 400;
  color: #656566;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
  margin: 25px 0 30px;
}

.services-page .spart button{
  display: block;
  font-size: 17px;
  font-weight: 600;
  color: #656566;
  line-height: 63px;
  background: var(--mc1);
  color: #fff;
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 0px 30px;
  cursor: pointer;
  margin-bottom: -90px;
  margin-right: auto;
  margin-left: auto;
}

.services-page .spart button:hover{
  background: var(--mc2);
}

/**************BroCoders**************| Tabs Section Styles |**************Team**************/
.tabs{
  background: url(../images/services.jpg) fixed no-repeat bottom;
  background-size: cover;
  text-align: center;
}
.tabs .overlay{
  background: var(--overlay);
  width: 100%;
  height: 100%;
  padding: 120px 0
}

.tabs .buttons{
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button{
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background: var(--mc1);
  color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 10px rgba(0,0,0,.7);
  border-radius: 15px;
  font-weight: 900;
  border: 2px solid var(--mc2);
}

@media (max-width: 576px){
  .tabs button{
    font-size: 14px
  }
}

.tabs button.active{
  background: var(--mc2);
}
.tabs button:hover{
  background: var(--mc2);
}

.tabs .tabcontent{
  padding: 50px;
  padding-top: 70px;
  margin-top: 21px;
  background: #FFFFFF;
  border-radius: 12px;
  text-align: left;
}
@media (max-width: 576px){
  .tabs .tabcontent{
    padding: 40px 20px;
    text-align: center!important
  }

}
.tabs .text.active, .tabs .image.active{
  animation: fadeIn 0.8s ease;
}
@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.tabs .text h2{
  margin-bottom: 35px;
  font-weight: 900;
  font-size: 36px;
  color: #1f1d22;
  line-height: 1.2;
}
@media (max-width: 576px){
  .tabs .text h2{
    font-size: 25px;
  }
}

.tabs .text p{
  font-size: 15px;
  line-height: 1.9;
  font-weight: 400;
  color: #656566;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
@media (max-width: 576px){
  .tabs .text p{
    font-size: 14px;
  }
}

/**************BroCoders**************| Support Section Styles |**************Team**************/
.support{
  background: url(../images/support.jpg) no-repeat;
  background-size: 100% 100%;
}
.support .overlay{
  background: rgba(255, 255, 255, 0);
  width: 100%;
  height: 100%;
  padding: 120px 0
}

@media (max-width: 992px){
  .support .overlay{
    background: rgba(255, 255, 255, 0.75);
  }
}

.support h2{
  margin-bottom: 35px;
  font-weight: 900;
  font-size: 38px;
  color: #1f1d22;
  line-height: 1.2;
}
.support h2 span{
  font-size: 72px;
  margin-right: 5px;
  color: var(--mc2);
}

@media (max-width: 576px){
  .support h2{
    font-size: 30px;
  }
  .support h2 span{
    font-size: 40px;
  }
}
.support p{
  font-size: 15px;
  line-height: 1.9;
  font-weight: 400;
  color: #656566;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.support h3{
  font-size: 18px;
  font-weight: 900;
  color: var(--mc2);
  margin-top: 20px;
}
.support h3 span{
  font-size: 48px;
  margin: 15px 0 15px 3px
}

.support button{
  padding: 15px 40px;
  border-radius: 12px;
  background: var(--mc2);
  text-align: center;
  margin-top: 22px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 2px 8px rgba(0,0,0,.2);
  font-weight: bold;
  color: #fff
}
.support button:hover{
  background: var(--mc1);
}

/**************************************| End Services Page |****************************************/




/**************************************| Start News Page |****************************************/

  /***************BroCoders**************| NewsContent styles |**************Team***************/
.NewsContent{
  padding: 120px 0;
}
.news{
  margin: 0 0 80px;
}

.news .newsImg{
  position: relative;
  height: 400px;
  margin-bottom: 50px;
}

@media(max-width:576px){
  .news .newsImg{
    height: 280px;
  }
}

.news .newsImg Img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.news .newsImg div{
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 15px;
  background: var(--mc1);
  padding: 15px;
  text-align: center;
}
.news .newsImg div p{
  font-size: 48px;
  font-weight: 900;
  color: var(--mc2);
  line-height: 0.75;
  margin-bottom: 5px;
}

@media(max-width:576px){
  .news .newsImg div p{
    font-size: 30px;
  }
}

.news .newsImg div span{
  font-size: 14px;
  font-weight: 600;
  color: #FFF;
  line-height: 0.75;
  margin-top: 11px;
}

.news h2{
  cursor: pointer;
  font-size: 32px;
  font-weight: 900;
  color: #1f1d22;
  line-height: 1.2;
  margin-bottom: 8px
}
.news h2:hover{
  color: var(--mc2);
}
@media(max-width:576px){
  .news h2{
    font-size: 24px;
  }
}

.news .titles{
  font-size: 12px;
  color: #b5b5b5;
  font-weight: 600;
  margin-bottom: 35px
}
.news .titles span{
  color: var(--mc1);
  cursor: pointer;
}
.news .titles span:hover{
  color: var(--mc2);
}

.news > p{
  font-size: 15px;
  line-height: 1.9;
  font-weight: 400;
  color: #656566;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
@media(max-width:576px){
  .news > p{
    font-size: 14px;
  }
}

.bar span{
  font-size: 18px;
  font-weight: 900;
  color: #1f1d22;
  padding: 4px;
  cursor: pointer;
}
.bar span:hover{
  color: var(--mc2);
}

  /***************BroCoders**************| Sidebar styles |**************Team***************/

.sidebar input{
  width: 80%;
  border: none;
  outline: none;
  border-radius: 10px 0 0 10px;
  background: #F3F5F9;
  padding: 10px 15px;
  margin-bottom: 30px
}
.sidebar button{
  width: 20%;
  border: none;
  outline: none;
  border-radius: 0 10px 10px 0;
  color: #fff;
  cursor: pointer;
  background: var(--overlay);
  padding: 10px 15px
}

.sideList{
  padding: 25px 0
}

.sideList h3{
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  color: #1f1d22;
  line-height: 0.75;
}
.sideList h3::after{
  content: "";
  display: block;
  width: calc(100% + 20px);
  height: 3px;
  background: var(--overlay);
  margin: 12px 0
}

.sideList ul{
  list-style: none;
}
.sideList ul li{
  padding: 10px 0;
  font-size: 15px;
  font-weight: 400;
  color: #656566;
  line-height: 1.2;
  cursor: pointer;
  display: flex
}
.sideList ul li:before{
  content: "» ";
  display: inline-block;
  margin-right: 8px;
  margin-top: -6px;
  font-size: 22px;
  font-weight: 900;
  color: #262626;
}
.sideList ul li:hover{
  color: var(--mc2)!important
}
.sideList ul li:hover::before{
  color: var(--mc2)!important
}

.sidebar .ad{
  background: url(../images/services.jpg) fixed no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
  color: #fff;
  text-align: center
}
.sidebar .ad .overlay{
  background: var(--overlay);
  padding: 35px 25px 25px
}
.sidebar .ad img{
  width: 100%;
  height: 170px;
}

.sidebar .ad h3{
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 32px;
}

.sidebar .ad h3 span{
  font-size: 36px;
  color: var(--mc2)
}

.sidebar .ad p{
  margin-top: 11px;
  font-size: 14px;
  font-weight: 400;
  line-height: 2;
}

/**************************************| End News Page |****************************************/